.row-alert {
    background-color: #adffad !important;
    & > td {
        background-color: #adffad !important;
    }
}

.row-alert-dark {
    background-color: #0c3021 !important;
    & > td {
        background-color: #0c3021 !important;
    }
}
